//output:test.html
doctype html
html
  head
    title 
    meta(charset="utf-8")
  body
    script(type="application/javascript", src="../bower_components/phenomenon-js/dist/phenomenonJS.min.js")
    script(type="application/javascript", src="../src/speach-flow.js")
    script(type="application/javascript").
      speak = new SpeachFlow({
        lang: "es-AR",
        ignoreCase: true,
        ignoreDiacritics: true
      })
    
